*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.heading{
    color: coral;
    font-size: 3rem;
    padding:5rem;
    
}
.redirect{
    padding: 2rem;
    
}
.redirect button{
    background-color: coral;
    border: none;
    font-size: 1.4rem;
    color: rgb(6, 255, 6);
    padding: 10px;
    cursor: pointer;
}



.superhero-list{
    width: 80%;
    /* height: 200px; */
    /* background-color: rgb(107, 9, 9); */
    margin: 4rem 6rem;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.superhero-list .list{
    width:20rem ;
    height: 8rem;
    margin-top: 2rem;
    background-color: rgb(81, 7, 255);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.superhero-list .list .info{
    font-size: 1rem;
    color: rgb(239, 255, 0);
}
.info .text{
    margin-top: 10px;
}

.superhero-list .list .info button{
    font-size: 1.2rem;
    padding: 3px;
    background-color: red;
    color: whitesmoke;
    cursor: pointer;
    margin-top: 1rem;
}

